*{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.personal-info-container{
    display: grid;
    grid-template-rows:3fr 2fr ;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.personal-info .img-container{
    display: flex;
    align-items: center;
    justify-content: center;       
}
.personal-info img{
    width:50%
}

.name-container p{
    color:hsl(0, 0%, 71%);
    margin-bottom:0.5em;
}
.name-container .name{
    color:hsl(0, 0%, 85%)
}
.name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-container{
    color:hsl(195, 74%, 62%);
    margin:1em 0;
}
.time-container .time{
    cursor: pointer;
    padding-bottom:0.5em;
}
.time:hover{
    color: white;
}
.active{
    color:white;
}
.personal-info{
    background-color:hsl(235, 45%, 61%);
    border-radius: 0.5em;
    padding:1em 0;
}

@media screen and (max-width:759px) {
    .personal-info{
        
        display: grid;
        grid-template-columns: 30% 50%;
        justify-content: center;
    }
    .personal-info-container{
        width:100%;
    }
    .time-container{
        display: flex;
        
        justify-content: space-around;
    }
}
@media screen and (min-width:760px) {
    .personal-info .img-container{
        max-width: 150px;
        margin-bottom:1em ;
    }
    .time-container{
        padding:1em;
    }
    .name-container .name{
        font-size: 2em;
    }
    .personal-info-container{
        max-width: 200px;
    }
    .personal-info{
        padding: 1em 1em;
    }


}