
.loading{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {
    .main-page .activity{
        width: 100%;
    }
    .main-page{
        display: flex;
        flex-wrap: wrap;
    }
    .first-column{
        width: 100%;
    }
}
@media screen and (min-width:701px) {
    .main-page{
        padding: 4em;
        display: grid;
        background-color: rgb(2, 10, 51);
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    .main-page .first-column{
        grid-row: span 2;
    }
    
}